body {
  font-family: 'Poppins', sans-serif;
  background: #111;
  color: white;
  text-align: center;
}
input, button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 5px;
}
.item {
  display: inline-block;
  background: #222;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  background: #44c767;
  color: white;
  cursor: pointer;
}
button:hover {
  background: #5cbf2a;
}
